.inner_m{
  width: 1004px;

  margin: 0 auto;
}
.header{
  height: 100px;
  width: 100%;
  background-color: green;
  position: relative;

}
.header .logo{
  background-image: url(../images/title.png);
  background-size: 158px 40px;
  float: left;
  width: 158px;
  height: 40px;
}
 .header span{
  display: block;
  height: 25px;
  width: 158px;
  line-height: 25px;
  position: absolute;
  letter-spacing: 6px;
  bottom: 32px;
  left: 172px;
}
.header .header_right{

}
.header .header_right .search_box{

}
.header .header_right .box_below{

}
.header .header_right .box_below ul {

}
.header .header_right .box_below ul li{

}
.header .header_right .box_below ul li.hotone{

}



/*navigation parts  */
.nav{
  height: 42px;
  width: 100%;
  background-color: #ee4b4b;


}
.nav ul{
  overflow: hidden;

}
.nav ul li{
  float: left;
  height: 42px;
  width: 71.7px;
  position: relative;


}
.nav ul li.photo{
position: relative;
}
.nav ul li.more{

}
.nav ul li a{
  display: block;
  height: 42px;
  width: 100%;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.nav ul li a:hover{
  background-color: #d73c3c;
}
.nav ul li.current a{
  background-color:#d73c3c;
  width: 59.7px;
  position: absolute;
  right: 0;
}
.nav ul li.more a {
  position: relative;

}
.nav ul li a .photo1 {
  display: block;
  position: absolute;
  right: 0px;
  background-image: url(../images/hot.png);
  background-repeat: no-repeat;
  background-size: 25px 12px;
  width: 27px;
  height: 14px;
}
.nav ul li a .more1{
  position: absolute;
  right: 0;
  background-image: url(../images/direction.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top:50%;
  margin-top: -4px;
}





/*main parts: the part below the nav  */
.main{
  width: 100%;
  overflow: hidden;
}

/*left part  */
.main .leftpart{
  width: 426px;
  background-color: blue;

  float: left;
}
.main .leftpart .hotnews{

}
.main .leftpart .hotnews .top_hot{
    height: 316px;
}
.main .leftpart .hotnews .top_hot .top_hot_title{
  height: 38px;
}
.main .leftpart .hotnews .top_hot .top_hot_title .redianyaowen{
  background-image: url(../images/news.png);
  background-size: 30px 30px;
  margin-left: 17px;
  width: 30px;
  height: 30px;

}
.main .leftpart .hotnews .top_hot .top_hot_title .redianyaowen span{
  display: block;
  width: 30px;
  height: 30px;
}
.main .leftpart .hotnews .other_news{
  height: 844px;
}

/* right part */
.main .rightpart{
  width: 578px;
  background-color: orange;
  float: right;
}



/* right part for the top */
.main .rightpart .imgs_part{

}
.main .rightpart .imgs_part .big_pics{
  height: 328px;
}
.main .rightpart .imgs_part .middle_bar{
  height: 36px;
  padding: 24px 0;
  background-color: yellow;
}
.main .rightpart .imgs_part .six_imgs{
  height: 250px;
}
.main .rightpart .imgs_part .six_imgs ul{

}
.main .rightpart .imgs_part .six_imgs ul li{

}


/* right part for the bottoms */
.main .rightpart .right_content{
  height: 408px;
}
/* contents for the many people to see */
.main .rightpart .right_content .popular{

}
.main .rightpart .right_content .popular .popular_title{

}
.main .rightpart .right_content .popular .popular_ads{

}
.main .rightpart .right_content .popular .popular_contents{

}
/* contents for the ranking part */
.main .rightpart .right_content .rank{

}
.main .rightpart .right_content .rank .rank_title{

}
.main .rightpart .right_content .rank .rank_contents{

}
.main .rightpart .right_content .ranl .rank_ads{

}
.footer{

}
